<nav class="navbar navbar-expand-lg navbar-light bg-ong fixed-top px-6"
  *ngIf="!(isInDashboard$|async)">
  <a class="navbar-brand">
    <img src="assets/images/logo.png" alt="Somos mas" height="auto" width="100">
  </a>
  <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="my-nav" class="collapse navbar-collapse justify-content-between">
    <ul class="navbar-nav mr-auto separate">
      <ng-container *ngFor="let path of routes;index as i">
        <li class="nav-item" ngClass="i === 0 && 'active'">
          <a class="nav-link hover" [routerLink]="[path.route]">{{ path.text }}</a>
        </li>
      </ng-container>
    </ul>
    <button type="button" class="btn bg-primary-darken" [routerLink]="['backoffice']"
      data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false">
      Ingresar
    </button>
  </div>

</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-secondary bg-gradient fixed-top px-6 justify-content-between"
  *ngIf="(isInDashboard$|async)">
  <button type="button" class="btn btn-outline-light d-flex align-items-center btn-backoffice" (click)="viewSidebar()">
    <i class="fas fa-bars fa-2x"></i>
    <span class="backoffice-title"> Backoffice</span>
  </button>
  <a class="navbar-brand">
    <img src="assets/images/logo.png" alt="Somos mas" height="auto" width="100">
  </a>
  <button type="button" class="btn btn-outline-light btn-home d-flex align-items-center" [routerLink]="['/']"  >
    <i class="fas fa-home fa-2x"></i>
    Inicio
  </button>

</nav>

<alk-sidebar></alk-sidebar>