<div class="container-fluid pt-2">
    <section>
        <!-- <alk-slides [items]="(slides$ | async)!"></alk-slides>-->
        <alk-jumbotron-image ></alk-jumbotron-image>
    </section>
    <section class="mt-4">
        <alk-title [text]="'Texto de Bienvenida'" [size]="'big'"></alk-title>
    </section>
    <section class="mt-5">
        <alk-title [text]="'Ultimas Novedades'"></alk-title>
        
    </section>

    <section class="mt-5">
        <alk-title [text]="'Testimonios'"></alk-title>

    </section>
</div>