<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 mt-5">
            <alk-title [text]="title" [size]="'big'"></alk-title>
        </div>
        <div class="col-8">
            <form class="form-group row" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">

                <div class="col-12 my-4">
                    <alk-title [text]="'Titulo'" [size]="'small'" [align]="'start'"></alk-title>

                    <input class="form-control" type="text" formControlName="name"
                        placeholder="Título de la Actividad" />
                </div>

                <div class="col-12 ">
                    <alk-title [text]="'Descripción'" [size]="'small'" [align]="'start'"></alk-title>
                    <ckeditor [editor]="ckeditor" class="editor" formControlName="description">
                    </ckeditor>
                </div>

                <div class="col-12 text-center my-4">
                    <img *ngIf="!category?.image" src="assets/images/placeholder-image.png"
                        class="img-rounded-circle" alt="place holder" width="300" height="200" />
                    <div *ngIf="category?.image " class="col-12 mt-2">
                        <img [src]="category?.image " class="img-rounded-circle" width="300" height="200" alt="User's profile image" />
                    </div>
                    <div class="col-12 my-4">
                        <alk-title [text]="'URL de la imagen'" [size]="'small'" [align]="'start'"></alk-title>
    
                        <input class="form-control" type="text" formControlName="image"
                            placeholder="Añada URL de la imagen" />
                    </div>
                </div>

                <button class="btn btn-lg btn-block btn-success" type="submit" [disabled]="categoryForm.invalid">
                    {{ isEditing ? "Editar" : "Crear" }}
                </button>
            </form>
        </div>
    </div>

</div>