<div class="row">
  <div class="col-lg-7 mx-auto">
    <div class="card mt-2 mx-auto p-4 bg-light">
      <div class="card-body bg-light p-0 p-lg-2">
        <div class="container">
          <form role="form" [formGroup]="contactForm"  (ngSubmit)="onSubmit()">
            <div class="controls">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="form_name">Nombre *</label>
                    <input
                      id="form_name"
                      type="text"
                      name="name"
                      class="form-control"
                      formControlName="name"
                      placeholder="Ingresa tu nombre *"
                      required="required"
                      data-error="Firstname is required."
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="form_email">Email *</label>
                    <input
                      id="form_email"
                      type="email"
                      name="email"
                      class="form-control"
                      placeholder="Ingresa tu email *"
                      required="required"
                      data-error="Valid email is required."
                      formControlName="email"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="form_email">Telefono *</label>
                    <input
                      id="form_email"
                      type="tel"
                      name="email"
                      class="form-control"
                      placeholder="Ingresa tu telefono *"
                      required="required"
                      data-error="Valid email is required."
                      formControlName="phone"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="form_message">Mensaje *</label>
                    <textarea
                      id="form_message"
                      name="message"
                      class="form-control"
                      placeholder="Escribe aqui tu mensaje..."
                      rows="4"
                      required="required"
                      data-error="Please, leave us a message."
                      formControlName="message"
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12 text-center">
                  <input
                    type="submit"
                    class="btn btn-success btn-send pt-2 btn-block"
                    value="Enviar"
                    [disabled]="!contactForm.valid"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<alk-dialog *ngIf="send" [dataDialog]="dataDialog" (response)="send = false"></alk-dialog>
