<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 mt-5">
            <alk-title [text]="title" [size]="'big'"></alk-title>
        </div>
        <form [formGroup]="memberForm" (ngSubmit)="onSubmit()" class="form-group col-8">
            <div class="col-12 my-4">
                <alk-title [text]="'Nombre'" [size]="'small'" [align]="'start'"></alk-title>

                <input class="input form-control" type="text" placeholder="Nombre"
                    formControlName="name" />
            </div>

            <div class="col-12 my-4">
                <alk-title [text]="'Descripción'" [size]="'small'" [align]="'start'"></alk-title>

                <input class="input form-control" type="text" placeholder="URL de imagen"
                    formControlName="imageUrl" />
            </div>

            <div class="col-12 my-4">
                <alk-title [text]="'Foto de perfil'" [size]="'small'" [align]="'start'"></alk-title>

                <input class="input form-control" placeholder="URL de imagen"
                    formControlName="imageUrl" />
            </div>

            <div class="col-12 my-4">
                <alk-title [text]="'Facebook'" [size]="'small'" [align]="'start'"></alk-title>

                <input class="input form-control" type="text" placeholder="Enlace a Facebook"
                    formControlName="facebookUrl" />
            </div>

            <div class="col-12 my-4">
                <alk-title [text]="'Linkedin'" [size]="'small'" [align]="'start'"></alk-title>

                <input class="input form-control" type="text" placeholder="Enlace a linkedin"
                    formControlName="linkedinUrl" />
            </div>

            <div class="col-12 my-4 mb-4">
                <alk-title [text]="'Descripción'" [size]="'small'" [align]="'start'"></alk-title>
                <ckeditor [editor]="ckeditor" class="ck ck-content .ck-editor__editable_inline"
                    formControlName="description"></ckeditor>
            </div>

            <button class="btn btn-lg btn-block btn-success col-12" type="submit" [disabled]="memberForm.invalid">
                {{ isEditing ? "Editar" : "Crear" }}
            </button>
        </form>
    </div>
</div>